@import "../definitions.scss";

.evidence-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 4s ease;
    .evidence-landing {
        width: 100vw;
        height: 100vh;
        background-color: #333333;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        .evidence-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 10vw;
            font-weight: 900;
        }
    }
    .scroll-button {
        position: absolute;
        left: 50%;
        bottom: 3vw;
        transform: translateX(-50%);
    }
    .evidence-container {
        transition: all 0.5s ease;
        opacity: 1;
        visibility: visible;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }
    .subprong-container {
        transition: all 0.5s ease;
        background-color: white;
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        .subprong-title {
            font-size: 9vw;
            font-weight: 900;
        }
    }
    .quote-container {
        transition: all 0.5s ease;
        .quote-symbol {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 3vw;
            font-family: "Nunito";
            font-weight: 900;
            font-size: 20vw;
            align-self: end;
        }
        .quote-lines {
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            width: 80%;
            .inline-quote {
                display: flex;
                width: 100%;
                .rectangle {
                    margin: 0 2vw 0 0;
                    background-color: #333333;
                    width: 4px;
                    height: inherit;
                }
                .quote-content {
                    font-size: 3vw;
                    font-weight: 300;
                    font-style: italic;
                    width: 100%;
                }
                .multi-quote-content {
                    width: 100%;
                    font-size: 2vw;
                    font-weight: 300;
                    font-style: italic;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 1fr 1fr;
                }
            }
            .quote-author {
                font-size: 3vw;
                font-weight: 300;
                text-align: right;
            }
        }
    }
    .quote-container.blue {
        color: #333333;
        background: linear-gradient(135deg, #84FAB0, #8FD3F4);
    }
    .quote-container.red {
        .inline-quote {
            .rectangle {
                background-color: white;
            }
        }
        background: linear-gradient(135deg, #FC6076, #FF9A44);
        color: white;
    }
    .thesis-component {
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        transition: all 0.5s ease;
    }
}

.evidence-page.exited {
    opacity: 0;
    visibility: hidden;
}
.evidence-page.entered {
    opacity: 1;
    visibility: show;
}