@import "../definitions.scss";

.landing-page {
    width: 100vw;
    height: 160vh;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    .video {
        transition: all 0.5s ease;
        width: 100vw;
    }
    .video.exiting,.video.video.exited {
        opacity: 0;
        visibility: hidden
    }
    .title, .sub-title {
        position: absolute;
        font-weight: 900;
        font-size: 10vw;
        font-family: $displayFont;
        left: 5vw;
        top: 7vw;
        width: 60%;
        color: white;
        line-height: 1;
        z-index: 2;
    }
    .sub-title {
        font-size: 8vw;
        opacity: 0.37;
        width: 70%;
        top: 13vw;
        margin-left: 1vw;
        z-index: 1;
    }
    .start-button {
        font-family: $bodyFont;
        font-size: 2.5vw;
        position: fixed;
        left: 50%;
        bottom: 3vw;
        transform: translateX(-50%);
        color: white;
        border-radius: 10vw;
        border: 2px solid white;
        width: 25vw;
        padding: 1vw 0;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .start-button.exiting {
        opacity: 0;
        visibility: hidden;
    }
    .start-button.exited {
        opacity: 0;
        visibility: hidden;
    }
    .start-button:hover {
        border: 2px solid rgba(255,255,255, 0.5);
        color: rgba(255,255,255, 0.8);
    }
    .scroll-button {
        position: fixed;
        left: 50%;
        bottom: 3vw;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .scroll-button:hover {
        opacity: 0.8;
    }
    .scroll-button.exiting {
        opacity: 0;
    }
    .scroll-button.exited {
        opacity: 0;
    }
}