@import "../definitions.scss";
.commentator-splash-page {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    font-family: $displayFont;
    .hidden {
        opacity: 0;
        display: none;
    }
    .entering {
        opacity: 0;
    }
    .entering.entered {
        opacity: 1;
    }
    .commentator {
        position: absolute;
        left: 9.74vw;
        top: 1.1vw;
        font-size: 6.38vw;
        font-weight: 400;
        color: #FD6B6B;
        .emphasis {
            font-weight: 600;
        }
    }
    .comic-relief {
        position: absolute;
        left: -15.5vw;
        top: 18vw;
        transform: rotate(90deg);
        font-weight: 900;
        font-size: 7.2vw;
        color: #000000;
    }
    .humor {
        position: absolute;
        color: #D1D1D1;
        font-weight: 900;
        font-size: 17vw;
        left: 8.4vw;
        top: 5.6vw;
    }
    .always-something-say {
        position: absolute;
        left: 9vw;
        top: 22vw;
        font-size: 11vw;
        font-weight: 100;
        color: #333333;
        white-space: nowrap;
    }
    .voices-opinion {
        position: absolute;
        left: 9.1vw;
        top: 35.2vw;
        font-size: 2.75vw;
        width: 19.8vw;
        font-weight: 700;
        color: #818181;
        line-height: 1.5;
    }
    .usually-contradicts {
        position: absolute;
        left: 28.6vw;
        top: 34.1vw;
        font-size: 8.8vw;
        font-weight: 700;
        color: #E8E8E8;
        white-space: nowrap;
    }
    .peanut-gallery {
        position: absolute;
        left: 2vw;
        top: 44vw;
        font-size: 8.25vw;
        font-weight: 900;
        color: #333333;
    }
    .never-ending-commentary {
        position: absolute;
        left: 75vw;
        top: 42.9vw;
        font-weight: 100;
        font-size: 9.35vw;
        color: #898989;
        white-space: nowrap;
    }
    .no-authority {
        position: absolute;
        left: 56vw;
        top: 10.4vw;
        transform: rotate(-90deg);
        font-weight: 700;
        font-size: 3.6vw;
        color: #818181;
    }
    .often-unheard {
        position: absolute;
        left: 71.5vw;
        top: 0;
        font-weight: 900;
        width: 50vw;
        font-size: 11vw;
        color: #333333;
        line-height: 1.14;
    }
}