@import "../definitions.scss";

.evidence-page {
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    position: absolute;
    left: 0;
    top: 100vh;
    transition: all 1s ease;
    z-index: 20;
}
.evidence-page.exited {
    opacity: 0;
    visibility: hidden;
}
.evidence-page.entering, .evidence-page.entered {
    opacity: 1;
    visibility: show;
}